@import 'https://unpkg.com/swiper/swiper-bundle.css';
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato"), url("../fonts/Lato-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local("Lato"), url("../fonts/Lato-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: local("Lato"), url("../fonts/Lato-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato"), url("../fonts/Lato-Bold.woff2") format("woff2");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

body,
input,
textarea,
select,
button,
a {
  font-family: "Lato", Arial, sans-serif;
  color: #353738;
  background-color: transparent;
}

input,
textarea,
select,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  outline: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #929292;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #929292;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #929292;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #929292;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

select {
  color: #666;
}

select option {
  color: #353738;
}

select option:first-child {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

svg {
  display: block;
}

.container {
  padding: 0 15px;
}

.container-inside {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  -webkit-transform: translateY(35px);
  -ms-transform: translateY(35px);
  transform: translateY(35px);
  left: 0;
  width: 100%;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  z-index: 5;
}

.header.scrolled {
  background-color: rgba(255, 255, 255, 0.98);
  padding: 15px 0;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

.header.scrolled .nav .logo a {
  width: 100%;
  max-width: 60px;
  display: block;
}

.header .nav ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.header .nav li {
  margin-right: 64px;
  overflow: hidden;
}

.header .nav li:last-child {
  margin-right: 0;
}

.header .nav li.logo a {
  display: block;
}

.header .nav li.logo a:hover {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.header .nav a {
  position: relative;
}

.header .nav a span, .header .nav a::before {
  text-transform: uppercase;
  letter-spacing: 2.6px;
  font-weight: 700;
  font-size: 13px;
  display: block;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  text-align: center;
  white-space: nowrap;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.header .nav a::before {
  content: attr(data-hover);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

.header .nav a:hover span {
  opacity: 0;
  -webkit-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
}

.header .nav a:hover::before {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

@media (max-width: 768px) {
  .header .nav ul {
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .header .nav li {
    margin-right: 32px;
  }
  .header .nav li.logo {
    margin-right: auto;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }
}

@media (max-width: 580px), screen and (max-height: 580px) {
  .header {
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    background-color: #fff;
  }
  .header.scrolled {
    padding: 0;
  }
  .header .nav {
    height: 85px;
  }
  .header .nav ul {
    height: 100%;
  }
  .header .nav li.logo a {
    width: 100%;
    max-width: 60px;
  }
  .header .nav a span, .header .nav a::before {
    font-size: 11px;
    letter-spacing: 1px;
  }
}

@media (max-width: 460px) {
  .header .nav li {
    margin-right: 12px;
  }
  .header .nav a span, .header .nav a::before {
    letter-spacing: normal;
  }
}

.footer {
  padding: 100px 0;
  background-color: #f7f7f7;
}

.footer__in {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
  align-items: center;
}

.footer__in address {
  font-size: 14px;
  color: #848789;
  font-style: italic;
  line-height: 1.29;
}

.footer__in address a {
  color: inherit;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.footer__in address a:hover {
  color: #64c29e;
}

.footer__in address span {
  display: block;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}

.footer__in ul,
.footer__in div {
  display: -webkit-box;
  display: flex;
}

.footer__in ul {
  -webkit-box-pack: center;
  justify-content: center;
}

.footer__in ul li {
  margin-right: 15px;
}

.footer__in ul li:last-child {
  margin-right: 0;
}

.footer__in ul a {
  display: block;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.footer__in ul a:hover {
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px);
}

.footer__in div {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.footer__in div span {
  margin-right: 9px;
  line-height: 1.29;
  font-size: 14px;
  color: #848789;
  font-style: italic;
}

@media (max-width: 520px) {
  .footer {
    padding: 48px 0 36px;
  }
  .footer__in {
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 36px;
  }
  .footer__in div {
    -webkit-box-pack: center;
    justify-content: center;
  }
}

.swiper-container {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.swiper-pagination {
  position: static;
  margin-top: 104px;
}

.swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background-color: transparent;
  border: solid 1px #c8c8c8;
  opacity: 1;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.swiper-pagination-bullet-active {
  background-color: #a9afb3;
  border-color: #a9afb3;
}

.swiper-slide > span {
  display: block;
  margin-bottom: 37px;
}

.swiper-slide > span img {
  margin: 0 auto;
}

.swiper-slide h4 {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 27px;
}

.swiper-slide h4 span {
  font-weight: 300;
  color: #848789;
  margin-left: 5px;
}

.swiper-slide p {
  font-style: italic;
  line-height: 1.42;
  font-size: 24px !important;
}

@media (max-width: 580px) {
  .swiper-slide p {
    font-size: 18px !important;
  }
  .swiper-pagination {
    margin-top: 80px;
  }
}

.main {
  overflow: hidden;
}

@media (max-width: 580px), screen and (max-height: 580px) {
  .main {
    padding-top: 85px;
  }
}

.section h3 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3.6px;
  line-height: 1.6;
  text-align: center;
  display: -webkit-box;
  display: flex;
  text-transform: uppercase;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.section h3 span {
  -webkit-box-ordinal-group: 0;
  order: -1;
  margin-bottom: 30px;
}

.section h3 span img {
  margin: 0 auto;
}

.section p {
  color: #848789;
  text-align: center;
  line-height: 1.88;
}

.section_hero {
  height: 100vh;
  min-height: 800px;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 991px) {
  .section_hero {
    height: 70vh;
    min-height: 100%;
  }
}

@media (max-width: 768px) {
  .section_hero {
    height: 50vh;
  }
}

@media (max-width: 580px) {
  .section_hero {
    height: 40vh;
  }
}

@media (max-height: 580px) and (orientation: landscape) {
  .section_hero {
    height: calc(100vh - 85px);
  }
}

.section_grey {
  background-color: #f7f7f7;
}

.section_grey .section__in {
  height: 100%;
  height: 470px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.section_grey h3 {
  margin-bottom: 35px;
}

.section_grey p {
  font-size: 18px;
}

@media (max-width: 768px) {
  .section_grey p {
    font-size: 16px;
  }
}

@media (max-width: 580px) {
  .section_grey {
    padding: 100px 0;
  }
  .section_grey .section__in {
    height: auto;
  }
}

@media (max-width: 380px) {
  .section_grey {
    padding: 70px 0;
  }
}

.section_work {
  background-color: #fff;
}

.section_work ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.section_work ul li {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.section_work ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 47, 53, 0.2);
}

.section_work ul li > img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section_work ul li p {
  text-align: justify;
  margin-top: 26px;
}

.section_work ul li.small {
  height: 200px;
}

.section_work ul li.text {
  padding: 70px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.section_work ul li.text::before {
  display: none;
}

.section_work ul li.text::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -1rem;
  left: calc(50% - 20px);
  z-index: 2;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-top: 2rem solid #ffffff;
}

.section_work ul li:nth-child(1) {
  background-image: url(../img/grid-bg1.jpg);
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.section_work ul li:nth-child(2) {
  grid-column: 3;
  grid-row: 1;
}

.section_work ul li:nth-child(3) {
  background-image: url(../img/grid-bg2.jpg);
  grid-column: 3;
  grid-row: 2;
}

.section_work ul li:nth-child(4) {
  grid-column: 1;
}

.section_work ul li:nth-child(5) {
  background-image: url(../img/grid-bg3.jpg);
  grid-column: 1;
}

.section_work ul li:nth-child(6) {
  background-image: url(../img/grid-bg4.jpg);
  grid-column: 2 / 4;
  grid-row: 3 / 5;
}

.section_work ul li:nth-child(7) {
  background-image: url(../img/grid-bg5.jpg);
  grid-row: 5 / 7;
}

.section_work ul li:nth-child(8) {
  grid-column: 2;
  grid-row: 5 / 6;
}

.section_work ul li:nth-child(9) {
  background-image: url(../img/grid-bg6.jpg);
  grid-column: 2;
  grid-row: 6;
}

.section_work ul li:nth-child(10) {
  background-image: url(../img/grid-bg7.jpg);
  grid-column: 3;
  grid-row: 5 / 7;
}

@media (min-width: 2600px) {
  .section_work ul {
    height: 100%;
    min-height: 100vh;
  }
  .section_work ul li.small {
    height: 100%;
  }
}

@media (max-width: 991px) {
  .section_work ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .section_work ul li:nth-child(4), .section_work ul li:nth-child(5) {
    grid-column: 1/3;
  }
  .section_work ul li:nth-child(6) {
    grid-column: 3/4;
    grid-row: 3/5;
  }
  .section_work ul li.text {
    padding: 40px;
  }
}

@media (max-width: 768px) {
  .section_work ul li {
    grid-column: inherit !important;
    grid-row: inherit !important;
    height: 360px;
  }
  .section_work ul li.text {
    height: auto;
  }
}

.section_shop__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 535px;
}

.section_shop__grid div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.section_shop__grid div::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.section_shop__grid div:hover::before {
  opacity: 1;
  visibility: visible;
  background-color: #64c29ecc;
}

.section_shop__grid div a {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.section_shop__grid div a:hover::before, .section_shop__grid div a:hover::after {
  opacity: 1;
  visibility: visible;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.section_shop__grid div a::before, .section_shop__grid div a::after {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.section_shop__grid div a::before {
  content: "";
  width: 51px;
  height: 30px;
  background-image: url(../img/shop-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 14px;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
}

.section_shop__grid div a::after {
  content: "Shop now";
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2.8px;
  font-weight: 700;
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
  -webkit-transition-delay: 30ms;
  transition-delay: 30ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.section_shop__grid div:nth-child(1) {
  background-image: url(../img/shop-bg1.jpg);
}

.section_shop__grid div:nth-child(2) {
  background-image: url(../img/shop-bg2.jpg);
}

.section_shop__grid div:nth-child(3) {
  background-image: url(../img/shop-bg3.jpg);
  grid-column: 1/3;
}

.section_shop__grid div:nth-child(4) {
  background-image: url(../img/shop-bg4.jpg);
  grid-row: 1/4;
  grid-column: 3;
}

.section_shop__grid div:nth-child(5) {
  background-image: url(../img/shop-bg5.jpg);
  grid-row: 1/4;
  grid-column: 4;
}

.section_shop__grid div:nth-child(6) {
  background-image: url(../img/shop-bg6.jpg);
  grid-row: 1;
  grid-column: 5/7;
}

.section_shop__grid div:nth-child(7) {
  background-image: url(../img/shop-bg7.jpg);
  grid-row: 2;
  grid-column: 5;
}

.section_shop__grid div:nth-child(8) {
  background-image: url(../img/shop-bg8.jpg);
  grid-row: 2;
  grid-column: 6;
}

.section_shop__black {
  height: 200px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0 15px;
  background-color: #282f35;
}

.section_shop__black a {
  max-width: 300px;
  width: 100%;
  border: solid 1px rgba(255, 255, 255, 0.5);
  padding: calc(1rem - 0.5px) 1rem;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.section_shop__black a span, .section_shop__black a::before {
  text-transform: uppercase;
  letter-spacing: 2.8px;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  display: block;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.section_shop__black a::before {
  content: attr(data-hover);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.section_shop__black a:hover span {
  opacity: 0;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}

.section_shop__black a:hover::before {
  opacity: 1;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

@media (min-width: 2000px) {
  .section_shop__grid {
    height: 50vh;
  }
}

@media (max-width: 1080px) {
  .section_shop__grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .section_shop__grid div:nth-child(4), .section_shop__grid div:nth-child(5) {
    grid-row: 1/3;
  }
  .section_shop__grid div:nth-child(6) {
    grid-row: 3;
    grid-column: 1/3;
  }
  .section_shop__grid div:nth-child(7), .section_shop__grid div:nth-child(8) {
    grid-row: auto;
    grid-column: auto;
  }
}

@media (max-width: 768px) {
  .section_shop__grid div a::before {
    width: 38px;
    height: 24px;
    margin-bottom: 10px;
  }
  .section_shop__grid div a::after {
    font-size: 12px;
  }
}

@media (max-width: 580px) {
  .section_shop__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: auto;
  }
  .section_shop__grid div {
    grid-column: inherit !important;
    grid-row: inherit !important;
    height: 200px;
  }
  .section_shop__grid div:nth-child(3), .section_shop__grid div:nth-child(6) {
    grid-column: 1/3 !important;
  }
}

.section_subscribe {
  padding: 100px 0;
}

.section_subscribe .section__in div {
  margin-bottom: 35px;
}

.section_subscribe div img {
  margin: 0 auto 39px auto;
}

.section_subscribe div span {
  display: block;
  text-align: center;
  font-size: 24px;
  font-style: italic;
  color: #848789;
  line-height: 1.42;
}

.section_subscribe form {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.section_subscribe form input,
.section_subscribe form button {
  height: 69px;
}

.section_subscribe form input {
  width: 100%;
  max-width: 400px;
  margin-right: 8px;
  font-size: 20px;
  font-style: italic;
  padding: 0 28px;
  border: solid 1px #d3d7d9;
  color: #353738;
  text-overflow: ellipsis;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.section_subscribe form input:focus {
  border-color: #64c29e;
}

.section_subscribe form button {
  width: 126px;
  border: 1px solid #64c29e;
  background-color: #64c29e;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  position: relative;
}

.section_subscribe form button:active {
  border-color: #45ae86;
  background-color: #45ae86;
}

.section_subscribe form button span, .section_subscribe form button::before {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  display: block;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.section_subscribe form button::before {
  content: attr(data-hover);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.section_subscribe form button:hover span {
  opacity: 0;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}

.section_subscribe form button:hover::before {
  opacity: 1;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

@media (max-width: 380px) {
  .section_subscribe div span {
    font-size: 20px;
  }
  .section_subscribe form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .section_subscribe form input {
    font-size: 18px;
    margin-right: 0;
  }
  .section_subscribe form button {
    width: 100%;
    font-size: 22px;
  }
}
