
<footer class="footer" id="contact">
  <div class="container">
    <div class="container-inside">
      <div class="footer__in">
        <address><span>AOD New York</span>2250 Lexington Avenue <br>
          New York, NY 10035  - <a href="mailto:">info@domain.com</a>
        </address>
        <ul>
          <li><a href="javascript:void(0);"><img src="img/twitter.png" alt="Twitter"></a></li>
          <li><a href="javascript:void(0);"><img src="img/fb.png" alt="Facebook"></a></li>
          <li><a href="javascript:void(0);"><img src="img/dribble.png" alt="Dribble"></a></li>
        </ul>
        <div><span>Handcrafted by</span><img src="img/yebo.png" alt="Yebo"></div>
      </div>
    </div>
  </div>
</footer>