
<header class="header">
  <div class="container">
    <div class="container-inside">
      <nav class="nav">
        <ul>
          <li><a href="#about-us" data-hover="About us"> <span>About us</span></a></li>
          <li><a href="#work" data-hover="Work"><span>Work</span></a></li>
          <li class="logo"> <a href="#hero"><img src="img/logo.png"></a></li>
          <li><a href="#shop" data-hover="Shop"><span>Shop</span></a></li>
          <li><a href="#contact" data-hover="Contact"><span>Contact</span></a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>